{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="base.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">
	  	<img style="width: 80px; height: 80px;" src="https://cdn3.iconfinder.com/data/icons/ballicons-reloaded-free/512/icon-70-512.png" alt="">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="{% url 'news' %}">NEWS</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="https://screenrant.com/movie-reviews/" tabindex="-1" aria-disabled="true">REVIEWS</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="https://screenrant.com/movie-news/">MOVIE NEWS</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="https://screenrant.com/interviews/" tabindex="-1" aria-disabled="true">INTERVIEWS</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{% url 'index' %}">MAIN</a>
	      </li>
	      {% if not user.is_authenticated %}
	      <li class="nav-item">
	        <a class="nav-link" href="{% url 'register' %}">Registration</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{% url 'login' %}">Login</a>
	      </li>
	      {% else %}
	      <li class="nav-item">
	        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
	      </li>
	      {% endif %}
	    </ul>
	    <form action="{% url 'search_url' %}" method="GET" class="form-inline my-2 my-lg-0">
	      <input name="search_input" style="border-radius: 10px" class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
	      <button style="border: none; border-radius: 50px" class="btn btn-outline-success my-2 my-sm-0" type="submit">
	      		<img style="width: 30px; height: 30px" src="https://i.pinimg.com/originals/e7/d4/50/e7d450d8c31ae10aa663d082fdbb3db9.png" alt="">
	      </button>
	    </form>
	  </div>
	</nav>

    {% block content %}



    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="{% static 'bootstrap.min.js' %}"></script>

</body>
</html>