{% extends 'base.html' %}

{% block title %}
{{category.title}}

{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-9">
			{% if category.image.url != null %}
			<img src="" alt="" style="width: 100%; height: 300px; object-fit: cover;">
			{% endif %}
			<h3>{{category.title}} category</h3>
			<hr style="border: 3px solid gray; border-radius: 10px;">
			<div class="row">
				{% for post in category.post_set.all %}
				<div class="card" style="width: 22rem; border: none; margin-top: 20px;">
				{% if post.image.url != null %}
				  <img style="height: 240px;" src="{{post.image.url}}" class="card-img-top" alt="...">
				{% endif %}
				  <div class="card-body">
				    <p class="card-text">{{post.content|safe}}...</p>
				    <a href="{{post.category.get_absolute_url}}" class="btn btn-primary">{{post.category.title}}</a>
				  </div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
{% endblock %}