{% extends 'base.html' %}

{% block content %}
	
	<section class="container">
		<div class="row">
			
			<div class="col-md-8" style="margin-top: 20px;">

				<h4><i>LATEST</i></h4>
				<hr style="border: 3px solid gray; border-radius: 10px;">
				
				<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="margin-top: 20px">
				  <ol class="carousel-indicators">
				    {% for post in sliders %}
				    <li data-target="#carouselExampleCaptions" data-slide-to="{{forloop.counter0}}" {% if forloop.first %} class="active" {% endif %}></li>
				  	{% endfor %}
				  </ol>
				  <div class="carousel-inner">
				  	{% for post in sliders %}
				    <div class="carousel-item {% if forloop.first %} active {% endif %}">
				    	{% if post.image.url != null %}
				      <img style="height: 370px; object-fit: cover;" src="{{post.image.url}}" class="d-block w-100" alt="...">
				      	{% endif %}
				      <div class="carousel-caption d-none d-md-block">
				        <a href="{{post.get_absolute_url}}">
				        	<h5>{{post.title}}</h5>
				        </a>
				        <a>{{post.content|safe|slice:"0:100"}}...</a>
				      </div>
				    </div>
				    {% endfor %}
				  </div>
				  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>

				<img style="margin-top: 20px; height: 350px; width: 100%; object-fit: cover;" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Sololearn_logo.jpg" class="img-fluid" alt="Responsive image">
					<h2 style="text-align: center;">SoloLearn</h2>
					<p style="text-align: center;">Learn Playing. Play learning</p>
				<img style="margin-top: 20px; height: 350px; width: 100%; object-fit: cover; height: 285px; width: 100%; object-fit: cover;" src="https://freelancehunt.com/static/images/freelancehunt-header-en.png" class="img-fluid" alt="Responsive image">
					<h2 style="text-align: center;">freelancehunt</h2>
					<p style="text-align: center;">Simple and reliable freelance</p>
				<img style="margin-top: 20px; height: 350px; width: 100%; object-fit: cover;" src="https://miro.medium.com/max/10000/1*HLGtY6O2vUHqIyEbWdmBgA.jpeg" class="img-fluid" alt="Responsive image">
				<img style="margin-top: 20px; height: 250px; width: 100%; object-fit: cover;" src="https://maxime-garnier.fr/assets/images/uploads/426acf8575332de8506883cbb1289e65.jpg" class="img-fluid" alt="Responsive image">
				<img style="margin-top: 20px; height: 400px; width: 100%; object-fit: cover;" src="https://miro.medium.com/max/12032/0*DypQzAMdE9cudggX" class="img-fluid" alt="Responsive image">
				<img style="margin-top: 20px; height: 300px; width: 100%; object-fit: cover;" src="https://miro.medium.com/max/1470/1*4IWsNF0FGF9zhMuipgN5Tw.jpeg" class="img-fluid" alt="Responsive image">
				<img style="margin-top: 20px; height: 400px; width: 100%; object-fit: cover;" src="https://static.macupdate.com/screenshots/251570/m/xcode-screenshot.png?v=1594884596" class="img-fluid" alt="Responsive image">
				<img style="margin-top: 20px; height: 380px; width: 100%; object-fit: cover;" src="https://www.apple.com/newsroom/images/product/os/macos/standard/apple_macos-bigsur_redesignedapps_06222020_big.jpg.large.jpg" class="img-fluid" alt="Responsive image">
		
			</div>

			<div class="col-md-4" style="margin-top: 20px">
				
				<h4><i>TRENDING</i></h4>
				<hr style="border: 3px solid gray; border-radius: 10px;">
				{% for post in news %}
				<div class="card" style="width: 22rem; border: none; margin-top: 20px;">
				{% if post.image.url != null %}
				  <img style="height: 240px;" src="{{post.image.url}}" class="card-img-top" alt="...">
				{% endif %}
				  <div class="card-body">
				  	<a href="{{post.get_absolute_url}}">
				        <h5>{{post.title}}</h5>
				    </a>
				    <p class="card-text">{{post.content|safe|slice:"0:100"}}...</p>
				    <b>Views: {{post.views}}</b>
				    <a href="{{post.category.get_absolute_url}}" class="btn btn-primary">{{post.category.title}}</a>
				  </div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<section>
        <footer id="footer">
            <h6 style="text-align: center; margin: 50px 0 10px 0; color: rgba(0, 0, 0, .7);">COPYRIGHT &copy; DEVELOPER / ABDULAZIZ. ALL RIGHTS RESERVED</h6>
        </footer>
    </section>

{% endblock %}