{% extends 'base.html' %}
{% load humanize %}

{% block title %}
{{post.title}}

{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-9">
			{% if post.image.url != null %}
			<img src="" alt="">
			{% endif %}
			<h3>{{post.title}}</h3>
			<p>{{post.content|safe}}</p>
			<p class="text-right">
				<b>Views: {{post.views}}</b> |
				<i>{{post.date|date:"d F, Y"}}</i>
			</p>
			<p>
				<i>
					Comments about: {{post.comment_set.count}}
				</i>
			</p>
			<hr>
			<h3>Leave a comment</h3>
			{% if user.is_authenticated %}
			<form action="{% url 'comment' post.slug %}" method="POST">
				{% csrf_token %}
				<p>
					<textarea name="text" class="form-control">
						
					</textarea>
				</p>
				<p class="text-right">
					<button class="btn btn-outline-primary">
						Send
					</button>
				</p>
			</form>
			{% else %}
			<p>
				to leave a comment,
				<a href="{% url 'register' %}">
					sign up
				</a>
				or
				<a href="{% url 'login' %}">
					login
				</a>
			</p>
			{% endif %}
			<hr>
			{% for comment in post.comment_set.all %}
			<div class="col-md-12">
				<h3>{{comment.user.username}}</h3>
				<p>
					{{comment.text}}
				</p>
				<p class="text-right">
					{{comment.date|timesince}} ago
				</p>
			</div>
			{% endfor %}
		</div>
		<div class="col-md-3">
			


		</div>
	</div>
</div>
{% endblock %}