{% extends 'base.html' %}

{% block title %}
Registration
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<form action="{% url 'register' %}" method="POST">
				{% csrf_token %}
				{{form.as_p}}
				<button class="btn btn-success">Registration</button>
			</form>
		</div>
		<div class="col-md-3">
			
		</div>
	</div>
</div>
{% endblock %}