{% extends 'base.html' %}

{% block title %}

	Search for: {{query}}

{% endblock %}

{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="row">
					{% for post in posts %}
						<div class="col-md-4">
							{% if post.image.url != null %}
							<img src="{{post.image.url}}" style="height: 300px; width: 230px; object-fit: cover;" alt="">
							{% endif %}
							<a href="{{post.category.get_absolute_url}}" title="">
								<h3 class="text-center">{{post.title}}</h3>
							</a>
							<p style="text-align: center;">{{post.content|safe|slice:"0:140"}}...</p>
						</div>
					{% empty %}
					<h2>Didn't find for search: "{{query}}"</h2>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-3">
				
			</div>
		</div>
	</div>

{% endblock %}