{% extends 'base.html' %}

{% block title %}
Search for query: {{query}}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                {% for post in posts %}
                    <div class="col-md-4">
                        {% if post.image.url != null %}
                        <img src="{{post.image.url}}" style="height: 200px; width: 100%; object-fit: cover" alt="">
                        {% endif %}
                        <h3 class="text-center">{{post.title}}</h3>
                    </div>
                {% empty %}
                <h2>По запросу "{{query}}" ничего не найдено!</h2>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <form action="{% url 'sort' %}" method="GET">
            <select name="sort" onchange="{this.form.submit()}">
                <option {% if query == '-date' %} selected {% endif %} value="-date">Latest</option>
                <option {% if query == 'date' %} selected {% endif %} value="date">Old</option>
                <option {% if query == '-views' %} selected {% endif %} value="-views">Featured</option>
                <option {% if query == 'views' %} selected {% endif %} value="views">Shit</option>
            </select>
            </form>
        </div>
    </div>
</div>
{% endblock %}